# shallowcopy() vs deepcopy()

* copy()

In [1]:
a=['purna','veera','chandu']
b=a
print(a,id(a),b,id(b) , sep = '\n' ) # they have the same memory locations ,where a is equals to exactly to b

['purna', 'veera', 'chandu']
1995853785856
['purna', 'veera', 'chandu']
1995853785856

In [7]:
c=a.copy()
a.reverse()
print(a,id(a))
print(c,id(c)) # here the memory locations are changed in the output becuase the order was changed

['purna', 'veera', 'chandu'] 1995853785856
['chandu', 'veera', 'purna'] 1995867183616

In [8]:
d=[1111,33333,6666,['python','sql','tableu']]
e=d.copy()
print(d,id(d))
print(e,id(e))

[1111, 33333, 6666, ['python', 'sql', 'tableu']] 1995867306368
[1111, 33333, 6666, ['python', 'sql', 'tableu']] 1995853650496

# deepcopy()

In [9]:
import copy
from copy import deepcopy
f= deepcopy(e) 
print(f,id(f))
print(e,id(e))

[1111, 33333, 6666, ['python', 'sql', 'tableu']] 1995867109696
[1111, 33333, 6666, ['python', 'sql', 'tableu']] 1995853650496

# Range()

In [10]:
 # range(starts,ends,step)
 #        0           +1
 # you need to count range objets int,list r tupple

In [12]:
range(8) # it starts from o and ends at 8

range(0, 8)

In [13]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

In [15]:
list(range(1,10,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# tuple

In [16]:
a = tuple()
print(a,len(a)) # an empty tuple

() 0

In [17]:
a=(1,2.2,3-3j,False,print)
print(a[0])
print(a[-1])
print(a[::2])
print(a[::-2])

1
<built-in function print>
(1, (3-3j), <built-in function print>)
(<built-in function print>, (3-3j), 1)

# Sets

* sets are unordered hetrogeneous clusters which are mutable in nature.
* they have no indexing ,then no slicing.
* sets are denoted by { } or set().
* it takes an iterator.
* when the set is created ,they dont entertain duplicates.

In [18]:
a={1,2,3,1,2,3} # no duplicates are entered
a

{1, 2, 3}

In [19]:
b={1,2,3,True,0,False} # true and false are defined as 0 and 1 so they donot represent in the output
b

{0, 1, 2, 3}

In [20]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## 1.add

In [21]:
a={1,2,3,}
a.add(4)
a

{1, 2, 3, 4}

## 2.update

In [22]:
a.update([5,6])
a

{1, 2, 3, 4, 5, 6}

## 3.remove

In [23]:
a.remove(6)
a

{1, 2, 3, 4, 5}

## 4.discard()

In [25]:
a={1,2,3,4,5,6}
a.discard(3)
a

{1, 2, 4, 5, 6}

## 5.pop

In [26]:
x=a.pop()
a

{2, 4, 5, 6}

## 6.copy

In [27]:
b=a.copy()
print(a,id(a))
print(b,id(b))

{2, 4, 5, 6} 1995866915776
{2, 4, 5, 6} 1995866918016

## 7.clear

In [28]:
print(b)
b.clear()
b

{2, 4, 5, 6}

set()